.main {
    background: #EF225E;
    padding: 1rem;
    color: white;
    /* border-top: 3px solid #dddddd; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    bottom: 0;
}