:root {
  --main-orange: #fc4c02;
  --main-pink: rgb(224, 18, 78);
  font-size: 16px;
  background: white;
}

button:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Cal heatmap styling */
@import url("cal-heatmap/cal-heatmap.css");

/* Override default Cal heatmap styling */
.ch-domain-text {
  font-size: 15px;
}

.ch-plugin-calendar-label-text {
  font-size: 40px;
}

#calHeatmap {
  padding: 1rem 0;
}
