.pageHeader {
    text-align: center;
    /* border: 1px solid black; */
    padding: 1rem 0 1rem 0;
}

.h2 {
    margin: 0 0 0.5rem 0;
    line-height: 2.4rem;
}

.link {
    color: blue;
    text-decoration: underline;
}

.gallery {
    margin: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Mileage Button Styles */
.btnContainer {
    display: flex;
    text-align: center;
    justify-content: center;
}

.btnContent {
    margin-top: 2rem;
    max-width: 35vw;
}

.btnGrid {
    display: grid;
    grid-gap: 1rem;
}

.btn {
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 14px;
    color: white;
    background: #754F98;
    width: 100%;
}

.btn:hover {
    cursor: pointer;
}

.btn2 {
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 14px;
    border: 1px solid #eeeeee;
    color: white;
    background: #EF215D;
    width: 300px;
}

.description {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.csvWidescreen {
    border: 1px solid black;
    display: inline;
}

.csvMobile {
    border: 1px solid black;
    display: none;
}

.sheetsWidescreen {
    border: 1px solid black;
    display: inline;
}

.sheetsMobile {
    border: 1px solid black;
    display: none;
}

.authBtn {
    border-radius: 3px;
    margin: 0.25rem;
}

.authBtn:hover {
    cursor: pointer;
}

.stravaBtn {
    background: #fc4c02;
    border-color: #fc4c02;
}

.googleBtn {
    background: #5383EC;
    border-color: #5383EC;
}

@media screen and (max-width: 990px){
    .sheetsWidescreen {
        width: 606px;
        height: 169px;
    }
}

@media screen and (max-width: 850px){
    .csvWidescreen {
        width: 565px;
        height: 304px;
    }    
    .btnContent {
        max-width: 90%;
    }
}

@media screen and (max-width: 650px){
    .gallery{
        margin: 0;
    }
    .csvWidescreen{
        display: none
    }
    .csvMobile{
        display: inline;
    }    
    .sheetsWidescreen{
        display: none
    }
    .sheetsMobile{
        display: inline;
    }
}
