.pageHeader {
    text-align: center;
    /* border: 1px solid black; */
    padding: 1rem 0 1rem 0;
}

.h2 {
    margin: 0 0 0.5rem 0;
    line-height: 2.4rem;
}

.gallery {
    display: grid;
    /* insert screenshots  */
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid black;
    margin: 1rem;
}

/* Mileage Button Styles */
.btnContainer {
    display: flex;
    text-align: center;
    justify-content: center;
}

.btnContent {
    margin-top: 2rem;
    max-width: 35vw;
}

.btnGrid {
    display: grid;
    grid-gap: 1rem;
}

.btn {
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 14px;
    color: white;
    background: #754F98;
    width: 100%;
}

.btn:hover {
    cursor: pointer;
}

.description {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.stravaBtn {
    background: #fc4c02;
    border-radius: 3px;
    border-color: #fc4c02;
}

@media screen and (max-width: 700px){
    .gallery {
        grid-template-columns: 1fr;
    }
}